
body {
    font-family: 'Work Sans', sans-serif;
}


.content {
    max-width: 500px;
}

.profile-picture {
    width: 210px;
    margin-bottom: 30px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 5px 5px 0px black;
}

.name {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .name {
        font-size: 36px;
    }
}

.job {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about {
    font-size: 18px;
    font-weight: 300;
    color: gray;
    margin-bottom: 30px;
}

.contact {
    margin-bottom: 30px;
}

.contact-item {
    margin-bottom: 4px;
}

.contact-icon {
    margin-right: 12px;
    width: 16px;
}

.container {
    background-image:linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1611784728558-6c7d9b409cdf?q=80&w=2792&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    min-height: 100vh;
    padding: 128px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 48px;
    }    
}

.button {
    background-color: black;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
}